@media screen and (min-width: 1101px){
  .Container{
    width: 35%;

    height: 520px;
    margin-left: 35px;
  }
  .Container1{
    width: 50%;
  }
}

@media screen and (max-width: 1100px){
  .Container{
    width: 90%;
    height: 350px;
    margin: 20px;
  }
  .Container1{
    float: none;
    margin-right: 0;
    margin: 20px;
    width: 90%;
    border: 0;
  }
}

.Title{
  margin-bottom: 0px;
  width: 100%;
  padding: 10px 0px;
}

.Container{
  display: inline-block;
  margin-top: 25px;
  background-color: #a7eba7;
}
.Container1{
  display: inline-block;
  margin-top: 25px;
  margin-right: 35px;
  height: 520px;
  position: relative;
}

#article1{
  padding-top: 20px;
  padding-bottom: 20px;
}

#article2{
  position: absolute;
  bottom: 0;
  left: 0;
}
