@media screen and (min-width: 1191px){
  .Container{
    width: 35%;
    margin-left: 35px;
  }
  .Container1{
    width: 50%;
  }
}

@media screen and (max-width: 1190px){
  .Container{
    width: 90%;
    margin: 30px auto;
  }
  .Container1{
    float: none;
    margin: 30px auto;
    width: 90%;
    border: 0px;
  }
  .FooterContainer{
    float: none;
    margin-right: 0px
  }
}

.Title{
  margin-bottom: 30px;
  width: 100%;
  padding: 10px 0px;
}

.Container{
  display: inline-block;
  margin-top: 25px;
  background-color: #a7eba7;
}
.Container1{
  display: inline-block;
  margin-top: 25px;
  margin-right: 35px;
  position: relative;
}

#article1{
  padding-top: 20px;
  padding-bottom: 20px;
}
